
.square {
  height: 150px;
  width: 150px;
  font-size: 45pt;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: black;
  text-shadow: 0 0 5px #fff, 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 40px rgb(255, 102, 0), 0 0 50px rgb(255, 102, 0), 0 0 80px rgb(255, 102, 0);
  font-size: 90px;

}

.square:hover {
  background-color: #68798e;
}

body {
  width: 550px;
  margin: auto;
  background-image: url(../Images/Tron_Grid_Background.jpg);
}

h1 {
  border-bottom: 5px solid whitesmoke;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 50px;
  margin-top: 20px;
  text-align: center;
}

#message {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
}

#reset {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: red;
  text-decoration: none;
  text-align: center;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 20px;
  position: fixed;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

td {
  /* border: 10px solid blue; */
  border: 2px solid rgb(10, 162, 179);
  height: 200px;
  width: 200px;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(3, 109, 121, 0.8));
  }

  .button {
    float: center;
  }
